[package]
name = "simple_shortener"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
axum = "0.4.4"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tokio = { version = "1.0", features = ["full"] }
once_cell = "1.9.0"
sqlx = { version = "0.5", features = [ "runtime-tokio-rustls", "postgres" ] }
maud = "0.23"
